<div>
  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
  <input #searchBox type="text" name="search" placeholder="Search for yummy stuff.." required ngModel/>
  <div>
    <h3>Type of dish</h3>
    <input type="checkbox" name="course-Appetizers&" id="" value="Appetizers" ngModel>Appetizers
    <input type="checkbox" name="course-MainDishes&" id="" value="Main Dishes" ngModel>Main Dishes
    <input type="checkbox" name="course-Desserts&" id="" value="Dessert" ngModel>Dessert
    <input type="checkbox" name="course-Beverages&" id="" value="Beverages" ngModel>Beverages
  </div>
  <div>
    <h3>Food preferences</h3>
    <input type="checkbox" name="&allowedDiet=389^Ovo+vegetarian" id="" value="Vegetarian" ngModel>Vegetarian
    <input type="checkbox" name="&allowedDiet=388^Lacto+vegetarian" id="" value="pescetarian" ngModel>Lacto Vegetarian
    <input type="checkbox" name="&allowedDiet=387^Lacto-ovo+vegetarian" id="" value="pescetarian" ngModel>Lacto Ovo Vegetarian
    <input type="checkbox" name="&allowedDiet=386^Vegan" id="" value="vegan" ngModel>Vegan
    <input type="checkbox" name="&allowedDiet=390^Pescetarian" id="" value="pescetarian" ngModel>Pescetarian
    <input type="checkbox" name="&allowedDiet=403^Paleo" id="" value="pescetarian" ngModel>Paleo
    <input type="checkbox" name="&allowedDiet=408^Low+FODMAP" id="" value="pescetarian" ngModel>Low FODMAP
    <input type="checkbox" name="&allowedDiet=406^Ketogenic" id="" value="pescetarian" ngModel>Ketogenic
  </div>
  <div>
    <h3>Allergies</h3>
    <input type="checkbox" name="&allowedAllergy[]=396^Dairy-Free" id="" value="Dairy" ngModel>Dairy
    <input type="checkbox" name="&allowedAllergy[]=397^Egg-Free" id="" value="Egg" ngModel>Egg
    <input type="checkbox" name="&allowedAllergy[]=393^Gluten-Free" id="" value="Gluten" ngModel>Gluten
    <input type="checkbox" name="&allowedAllergy[]=394^Peanut-Free" id="" value="Peanut" ngModel>Peanut
    <input type="checkbox" name="&allowedAllergy[]=398^Seafood-Free" id="" value="Seafood" ngModel>Seafood
    <input type="checkbox" name="&allowedAllergy[]=399^Sesame-Free" id="" value="Sesame" ngModel>Sesame
    <input type="checkbox" name="&allowedAllergy[]=400^Soy-Free" id="" value="Soy" ngModel>Soy
    <input type="checkbox" name="&allowedAllergy[]=401^Sulfite-Free" id="" value="Sulfite" ngModel>Sulfite
    <input type="checkbox" name="&allowedAllergy[]=395^Tree+Nut-Free" id="" value="Tree Nut" ngModel>Tree Nut
    <input type="checkbox" name="&allowedAllergy[]=392^Wheat-Free" id="" value="Wheat" ngModel>Wheat    
  </div>
  <button type="submit">Search</button>
</form>
</div>
<h2>Recipes</h2>
<div >
<ul class="container">
  <li *ngFor="let i of recipes" class="col" style="width: 18rem;">
      <div class="card">
      <img src="{{i.imageUrlsBySize[90]}}" alt="" class="card-img-top">
        <a (click)="showRecipeDetails(i)" routerLink="/recipe-details/{{i.id}}" routerLinkActive="active">{{ i.recipeName }}</a>
      </div>
  </li>
</ul>
</div>
